`xml
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hassan.osd70">

    <application
        android:allowBackup="true"
        android:label="ÖSD B2 - برنامه ۷۰ روزه"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity android:name=".SupportActivity" />
        <activity android:name=".DayDetailActivity" />
        <activity android:name=".DayListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
`
